<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>index</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link href="http://cdn.jsdeliver.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
	th:href="@{/Webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
	rel="stylesheet" media="screen"/>
	<script src="http://cdn.jsdeliver.net/webjars/jquery-3.1.1/jquery.min.js"
	th:href="@{/Webjars/jquery/3.1.1/css/jquery.min.css}"></script>
	<link href="../static/css/spping-core.css"
		th:href="@{css/spping-core.css}" rel="stylesheet" media="screen"/>
<body>
	<div class="container"></div>
	<h1>spring index</h1>

</body>
</html>